<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/bg1.jpg') }}");
            background-size: cover;
            background-position: center;
            /* Add any other background properties as needed */
        }
    </style>

</head>
<center>

    <body>
        <img src="{{url_for('static', filename='file.jpg')}}" alt="image" height=340px>

        <br>

        <h1 class='text-white'>
            {{final}}
        </h1>

    </body>
</center>

</html>